.error {
	border: 2px solid red;
	background: rgb(216, 216, 216);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.notif {
	border: 2px solid green;
	background: rgb(216, 216, 216);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}
